@model EasyFly.Application.ViewModels.PlanePagedViewModel

@{
    ViewData["Title"] = "Planes";
}

<h1 class="text-center">Planes</h1>

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    <div class="alert alert-success text-center" role="alert">
        <h5>@ViewBag.Success</h5>
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger text-center" role="alert">
        <h5>@ViewBag.ErrorMessage</h5>
    </div>
}

<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @foreach (var item in Model.Planes)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="d-flex mt-2">
                                <form method="get" asp-controller="Plane" asp-action="Remove" class="me-2">
                                    @Html.Hidden("planeId", item.Id)
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    @Html.AntiForgeryToken()
                                </form>
                                <form method="get" asp-controller="Plane" asp-action="Edit">
                                    @Html.Hidden("planeId", item.Id)
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 d-flex justify-content-between">
            @if (Model.PageNumber > 1)
            {
                <a href="@Url.Action("GetPlanes", new { page = Model.PageNumber - 1 })" class="btn btn-primary">Previous</a>
            }
            else
            {
                <a></a>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <a href="@Url.Action("GetPlanes", new { page = Model.PageNumber + 1 })" class="btn btn-primary">Next</a>
            }
        </div>
    </div>

    <br />

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Create Plane</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Plane" asp-action="Create" method="post">
                        <div class="form-group">
                            <label for="Name">Name:</label>
                            <input type="text" class="form-control" id="Name" name="Name" />
                        </div>
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>