@model EasyFly.Application.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Edit Ticket";
}

<h1>Edit Ticket</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (Model is not null)
{
    <form asp-controller="Ticket" asp-action="Edit" method="post">
        <div class="form-group">
            <label for="SeatId">Seat ID:</label>
            <input type="text" class="form-control" id="SeatId" name="SeatId" value="@Model.Seat.Id" />
        </div>
        <div class="form-group">
            <label for="PersonType">Person Type:</label>
            <input type="text" class="form-control" id="PersonType" name="PersonType" value="@Model.PersonType" />
        </div>
        <div class="form-group">
            <label for="UserId">User ID:</label>
            <input type="text" class="form-control" id="UserId" name="UserId" value="@Model.User.Id" />
        </div>
        <div class="form-group">
            <label for="PersonFirstName">First Name:</label>
            <input type="text" class="form-control" id="PersonFirstName" name="PersonFirstName" value="@Model.PersonFirstName" />
        </div>
        <div class="form-group">
            <label for="PersonLastName">Last Name:</label>
            <input type="text" class="form-control" id="PersonLastName" name="PersonLastName" value="@Model.PersonLastName" />
        </div>
        <div class="form-group">
            <label for="Gender">Gender:</label>
            <input type="text" class="form-control" id="Gender" name="Gender" value="@Model.Gender" />
        </div>
        <div class="form-group">
            <label for="Price">Price:</label>
            <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" />
        </div>
        @Html.AntiForgeryToken()
        @Html.Hidden("ticketId", Model.Id)
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}